@model Shop_PhuocToan.Areas.Admin.Models.ProductFormVM

<div class="form-group">
    @Html.LabelFor(m => m.ProductCode, "Mã SP", new { @class = "control-label col-md-2" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.ProductCode, new { @class = "form-control", maxlength = 50, autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.ProductCode, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Name, "Tên sản phẩm", new { @class = "control-label col-md-2" })
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", maxlength = 255 })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Chủng loại", new { @class = "control-label col-md-2" })
    <div class="col-md-6">
        @Html.DropDownListFor(m => m.CategoryId, (IEnumerable<SelectListItem>)Model.Categories, "-- Chọn chủng loại --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Trạng thái", new { @class = "control-label col-md-2" })
    <div class="col-md-6">
        @Html.DropDownListFor(m => m.StatusId, (IEnumerable<SelectListItem>)Model.Statuses, "-- Chọn trạng thái --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.StatusId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Price, "Giá", new { @class = "control-label col-md-2" })
    <div class="col-md-3">
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control", type = "number", step = "0.01", min = "0" })
        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(m => m.DiscountPrice, "Giá KM", new { @class = "control-label col-md-1" })
    <div class="col-md-3">
        @Html.TextBoxFor(m => m.DiscountPrice, new { @class = "form-control", type = "number", step = "0.01", min = "0" })
        @Html.ValidationMessageFor(m => m.DiscountPrice, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.IsContact, "Liên hệ để biết giá", new { @class = "control-label col-md-2" })
    <div class="col-md-6">
        <div class="checkbox">
            <label>@Html.CheckBoxFor(m => m.IsContact) Hiển thị “Liên hệ” thay vì giá</label>
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Description, "Mô tả", new { @class = "control-label col-md-2" })
    <div class="col-md-8">
        @Html.TextAreaFor(m => m.Description, 8, 80, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
    </div>
</div>

<hr />
<h4>Ảnh sản phẩm</h4>

@if (Model.ExistingImages != null && Model.ExistingImages.Any())
{
    <div class="row" style="margin-bottom:10px;">
        @foreach (var img in Model.ExistingImages)
        {
            <div class="col-xs-3 col-sm-1" style="margin-bottom:10px;">
                <div class="thumbnail">
                    <img src="@img.ImageURL" class="img-responsive" alt="" width="180px" />
                    <div class="caption">
                        <div class="radio">
                            <label>
                                <input type="radio" name="MainImageId" value="@img.Id" @(img.IsMain ? "checked=\"checked\"" : "") />
                                Ảnh chính
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="DeleteImageIds" value="@img.Id" />
                                Xóa ảnh này
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

<div class="form-group">
    <label class="control-label col-md-2">Thêm ảnh mới</label>
    <div class="col-md-6">
        <input type="file" name="NewImages" multiple class="form-control" />
        <p class="help-block">Chọn nhiều ảnh (jpg, png,…). Nếu chưa chọn “Ảnh chính”, hệ thống sẽ tự chọn ảnh đầu tiên.</p>
    </div>
</div>
