@model Shop_PhuocToan.Areas.Admin.Models.CategoryFormVM
@{
    ViewBag.Title = "Sửa danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sửa danh mục</h2>

@using (Html.BeginForm("Edit", "CategoriesAdmin", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.Partial("_Form", Model)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <button type="submit" class="btn btn-primary">Cập nhật</button>
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
